ol, ul {
    list-style: none;
    padding: 0;
}
a{
    display: block;
    text-decoration: none;
    color: #121212;
}
a:hover{
    color:#2A8356;
    position: relative;
    top:1px;
    left:1px;
    text-decoration:none;
}
